:root {
    --primary-color: steelblue;
    --secondary-color: #eeeeee;
    --text-color: white;
    --font-size: 20px;
    --padding-small: 10px;
    --padding-medium: 20px;
    --border-color: rgba(0,0,0,0.2);
    --max-width: 840px;
    --aside-width: 20rem;
    --footer-border-color: #000;
}


header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
   
  }

nav {
    background-color: var(--primary-color);
    padding: var(--padding-small);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--text-color);
    display: block;
    padding: var(--padding-medium);
    
}

h1 {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 30px;
    display: grid;
    grid-template-columns: 2fr;
    align-items: center;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    padding: 10px
    
}


img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
}

p {
    padding: 15px;
    text-align: left;
    
    
}


.grid {
    display: grid;
    align-items: center;
}

main {
    max-width: var(--max-width);
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: var(--aside-width);
    margin: 1rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: #333;
    text-align: center;  
    justify-content: center;  
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  h2 {
    font-family: Arial, Helvetica, sans-serif;
  }

aside img {
    width: 250px;
    height: auto;
}

footer {
    margin-top: 50px;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-content: center ;
    
}
